<div id="<%= dom_id seat %>">
  <p>
    <strong>Brand:</strong>
    <%= seat.brand.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= seat.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= seat.link %>
  </p>

</div>
