<div>
  <h1 class="font-bold text-4xl">Admin::Brands#edit</h1>
  <%= render 'shared/edit_form', model: @brand, url: admin_brand_url, fields: {
    name: :text_field,
    website: :url_field,
  } %>
</div>
