<div>
  <h1 class="font-bold text-4xl">Admin::Brands#index</h1>
  <%= render 'shared/table', collection: @brands, attributes: [:name, :website, :product_count], edit_path: 'edit_admin_brand_path', delete_path: 'admin_brand_path' %>
  <h2>Total Product Count: <%= @total_product_count %></h2>
</div>
