<div class="bg-purple-800 w-full">
  <div class="container mx-auto flex flex-col justify-center">
    <div class="p-4 self-center md:self-start">
      <%= link_to root_path do %>
        <img
          class="object-scale-down w-40"
          alt='Fit My Stroller.com logo'
          src=<%= asset_path('fitmystrollercom-high-resolution-logo-transparent.png') %>
          />
      <% end %>
    </div>
  </div>
</div>