<div id="<%= dom_id stroller %>">
  <p>
    <strong>Brand:</strong>
    <%= link_to stroller.brand.name, stroller.brand %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= stroller.name %>
  </p>

</div>
