<p style="color: green"><%= notice %></p>

<h1>Strollers</h1>

<div id="strollers">
  <% @strollers_by_brand.each do |brand, strollers| %>
    <h2><%= brand.name %></h2>
    <% strollers.each do |stroller| %>
      <p>
        <%= link_to stroller.name, stroller %>
      </p>
    <% end %>
  <% end %>
</div>

<button>
  <%= link_to "New stroller", new_stroller_path %>
</button>
