<div id="<%= dom_id brand %>">
  <p>
    <strong>Name:</strong>
    <%= brand.name.capitalize %>
  </p>

  <p>
    <strong>Website:</strong>
    <a href="<%= brand.website %>">link</a>
  </p>

</div>
