<div id="<%= dom_id brand %>">
  <p>
    <strong>Name:</strong>
    <%= brand.name.capitalize %>
  </p>

  <p>
    <strong>Website:</strong>
    <a href="<%= brand.website %>">link</a>
  </p>

  <p>
    <strong>Strollers:</strong>
    <% if brand.strollers.any? %>
    <ul>
      <% brand.strollers.each do |stroller| %>
        <li>
          <%= link_to stroller.name, stroller %>
        </li>
      <% end %>
    </ul>
  <% end %>
  </p>

</div>