<div class="mt-8">
  <%= render partial: 'shared/subtitle', locals: { text: 'Compatible products for ' + product.name + ':' } %>
  <div class="mt-4">
    <%= render partial: 'image_carousel', locals: { products: product.compatible_products } %>
  </div>
</div>
