<div class="mt-8">
  <%= render partial: 'shared/subtitle', locals: { text: 'Compatible products for ' + product.name + ':' } %>
  <div class="mt-4">
    <%= compatible_products = product.compatible_products_by_adapter.values.flatten
        render partial: 'image_carousel', locals: { products: compatible_products } %>
  </div>
</div>
