<div>
  <img class="rounded-t-lg" src="<%= product.image_or_default.url %>" alt="<%= product.image_or_default.alt_text %>"/>
  <% if product.image_or_default.attribution_required? %>
    <p class="text-right text-gray-400 text-xs px-2">
      <a href=<%= product.image_or_default.attribution_url %>><%= product.image_or_default.attribution_text %></a>
    </p>
  <% end %>
</div>
