<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<% @strollers.each do |brand, strollers| %>
  <strong>Brand:</strong>
  <%= link_to brand.name, brand %>
  <br>
  <% strollers.each do |stroller| %>
    <p>
      <%= link_to stroller.name, url_for(controller: 'products', action: 'fits', id: stroller.id) %>
      <br>
    </p>
  <% end %>
<% end %>
