<%= render layout: 'shared/container' do %>
  <div>
    <%= render partial: 'shared/hero', locals: { title: 'Is your stroller compatible?' } %>
    <div class="mt-8">
      <%= render partial: 'shared/subtitle', locals: { text: 'Search for your stroller' } %>
      <%= render SearchProduct::ShowComponent.new(searchUrl: url_for(controller: 'products', action: 'search')) %>
    </div>
  </div>
<% end %>
