<%= render layout: 'shared/container' do %>
  <div>
    <%= render partial: 'shared/hero', locals: { title: 'Check if your stroller fits your car seat' } %>
    <div class="mt-8">
      <%= render partial: 'shared/subtitle', locals: { text: 'Search for your stroller' } %>
      <div class="min-h-96">
        <%= render SearchProduct::ShowComponent.new(searchUrl: url_for(controller: 'products', action: 'search'), types: ['Stroller']) %>
      </div>
    </div>
  </div>
<% end %>
