<!-- app/views/admin/shared/_admin_nav.html.erb -->
<div class="bg-gray-100 p-4 flex justify-center">
  <nav class="admin-nav">
    <ul class="list-none flex justify-between">
      <li class="p-2"><%= link_to 'Products', admin_products_path, class: "text-blue-500 hover:text-blue-700" %></li>
      <li class="p-2"><%= link_to 'Brands', admin_brands_path, class: "text-blue-500 hover:text-blue-700" %></li>
      <li class="p-2"><%= link_to 'Compatibility', admin_compatibility_index_path, class: "text-blue-500 hover:text-blue-700" %></li>
    </ul>
  </nav>
</div>
